
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        
        <div class="modal-background">
            <div class="d-flex justify-content-center report_header">
                <h2 style="font-size: 30px;">Report Outage</h2>
            </div>
            <div class="d-flex justify-content-center report_form_div">
                
                <form class="report_form" [formGroup]="reportOutageForm" (ngSubmit)="onSubmit()">
                    <div class="form-group pb-1">
                        <label class="report_labels" for="address"> Address: </label>
                        <select class="form-control" formControlName="location" 
                        id="exampleFormControlSelect2">
                        <option value="" disabled selected>Select your address</option>
                        <option *ngFor="let location of locations" value="{{location.id}}">{{ location.street }},&nbsp;{{ location.city }}</option>
                        
                      </select>
                      <div class="invalid-feedback">
                        Please choose your address.
                       </div>
                    </div>
                    <label class="report_labels" for="reason"> Reason: </label>
                    <div class="form-group pb-1">
                          <select class="form-control" name="reason" formControlName="reason" required>
                            <option value="" disabled selected>-- Select reason --</option>
                            <option value="NO_POWER">No power</option>
                            <option value="FLICKERING_LIGHT">Flickering light</option>
                            <option value="PARTIAL_POWER">Partial power</option>
                            <option value="VOLTAGE_PROBLEM">Voltage problem</option>
                            <option value="POWER_RESTORED">Power restored</option>
                            <option value="MALFUNCTION"> Malfunction</option>
                        </select>
                    </div>
            
                    <div class="form-group pb-1">
                        <label class="report_labels" for="comment"> Comment: </label>
                        <textarea class="form-control comment-box" placeholder="Enter a comment" formControlName="comment" id="comment" required></textarea>
                    </div>

                    <div class="form-group pb-1">
                        <label class="report_labels" for="hazard"> Hazard: </label>
                        <textarea class="form-control comment-box" placeholder="Enter a hazad" formControlName="hazard" id="hazard" required></textarea>
                    </div>

                    <div class="form-group report-button pb-2">
                        <button type="submit" class="btn btn-light">Report Outage</button>
                    </div>
                </form>
                
            </div>
        </div>
      </div>
    </div>
  </div>
