<div *ngIf = "notificationType == 'ERROR'" class = "d-flex flex-row p-3 my-2 justify-content-between state-border notification error">
    <div class="icon">
       <mat-icon [inline]="true">cancel</mat-icon>
    </div>
    <div class="text">
        {{notification.description}}
    </div>
    <div class="timestamp">
        {{notification.timestamp}}
    </div>
</div>

<div *ngIf = "notificationType == 'WARNING'" class = "d-flex flex-row p-3 my-2 state-border notification warning">
    <div class="icon">
        <mat-icon>warning</mat-icon>
     </div>
     <div class="text">
        {{notification.description}}
    </div>
    <div class="timestamp">
        {{notification.timestamp}}
    </div>
    <div class="remove">
        <mat-icon>remove</mat-icon>
    </div>
</div>

<div *ngIf = "notificationType == 'SUCCESS'" class = "d-flex flex-row p-3 my-2 justify-content-between state-border notification success">
    <div class="icon">
        <mat-icon>check_circle</mat-icon>
     </div>
     <div class="text">
        {{notification.description}}
    </div>
    <div class="timestamp">
        {{notification.timestamp}}
    </div>
</div>

<div *ngIf = "notificationType == 'INFO'" class = "d-flex flex-row p-3 my-2 justify-content-between state-border notification info">
    <div class="icon">
        <mat-icon>info</mat-icon>
     </div>
     <div class="text">
        {{notification.description}}
    </div>
    <div class="timestamp">
        {{notification.timestamp}}
    </div>
</div>