
<div class="container-fluid p-3 m-1">
    <div class="row mt-10">
        <div class="container rounded bg-white change-pw">
            <h1 class="mb-5">Change password</h1>

            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

                <div class="row mb-5">
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Current password</mat-label>
                            <input matInput type="password" formControlName="oldPassword"
                            [ngClass]="{'form-control':true, 'is-valid': isValid('oldPassword'), 'is-invalid': isInvalid('oldPassword')}"
                            id="validationServer06" placeholder="Old Password" required>
                            <div class="invalid-feedback" *ngIf="changePasswordForm.hasError('required', 'oldPassword')">
                                Please provide a password.
                            </div>
                            <div class="valid-feedback">
                                    Looks good.
                            </div>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>New password</mat-label>
                            <input matInput type="password" formControlName="newPassword"
                            [ngClass]="{'form-control':true, 'is-valid': isValid('newPassword'), 'is-invalid': isInvalid('newPassword')}"
                            id="validationServer07" placeholder="Enter New Password" required>
                            
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Confirm new password</mat-label>
                            <input matInput type="password" formControlName="confirmPassword"
                            [ngClass]="{'form-control':true, 'is-valid': isValid('confirmPassword'), 'is-invalid': isInvalid('confirmPassword')}"
                            id="validationServer08" placeholder="Confirm Password" required>

                        </mat-form-field>
                    </div>
                </div>

                <div class="mt-4">
                    <button type="submit" class="button-add change-btn" >Change password</button>                       
                </div>
            </form>
        </div>
    </div>
</div>