<div class="container-fluid p-3 m-1">
   <div class="row" >
        
        <div class="col-3">
            <div class="notifications-nav-menu">
                <mat-selection-list [multiple]="false">
                    <mat-list-option (click)="showNotifications('ALL')">
                        <div class="flex-row">
                            All Notifications
                        </div>
                    </mat-list-option>

                    <mat-list-option (click)="showNotifications('UNREAD')">
                        <div class="flex-row">
                            Unread Notifications
                        </div>
                    </mat-list-option>

                    <mat-list-option (click)="showNotifications('SUCCESS')">
                        <div class="flex-row">
                            Success&nbsp;&nbsp;&nbsp;
                            <mat-icon class="icon-success">check_circle</mat-icon>
                        </div>
                    </mat-list-option>

                    <mat-list-option (click)="showNotifications('ERROR')">
                        <div class="flex-row"> 
                            Errors&nbsp;&nbsp;&nbsp;
                            <mat-icon class="icon-error">cancel</mat-icon>
                        </div>
                    </mat-list-option>

                    <mat-list-option (click)="showNotifications('WARNING')">
                        <div class="flex-row">
                            Warnings&nbsp;&nbsp;&nbsp;
                            <mat-icon class="icon-warning">warning</mat-icon>
                        </div>
                    </mat-list-option>

                    <mat-list-option (click)="showNotifications('INFO')">
                        <div class="flex-row">
                            Info&nbsp;&nbsp;&nbsp;
                            <mat-icon class="icon-info">info</mat-icon>
                        </div>
                    </mat-list-option>

                </mat-selection-list>
            </div>
        </div>

        <div class="col-9">
            <div class="notifications-div">
                <div *ngFor="let date of dates" class="notification-by-date-div">
                    <div class="date">{{date}}</div>
                    <div *ngFor="let notification of notifications">
                        <app-notification [notification]="notification" [notificationType]="notification.notificationType"></app-notification>
                    </div>
                </div>
                <p-messages severity="info">
                    <ng-template pTemplate>
                        <img src="assets/showcase/images/demo/organization/walter.jpg" width="32" />
                        <span class="custom-message">I am the one who knocks.</span>
                    </ng-template>
                </p-messages>
                <p-scrollTop target="parent" [threshold]="100"></p-scrollTop>
            </div>
            <div class="buttons-div">
                <button class="button-add notif-button">Mark all as read</button>
                <button class="button-add notif-button" (click)="deleteAll()">Clear all</button>
            </div>
            <p-messages severity="info">
                    <span class="custom-message">I am the one who knocks.</span>
                
            </p-messages>
        </div>
    </div>
</div>
